#Footer{
    background-color: #002347;
    padding: 40px 0;
    .Copyright{
        text-align: center;
        color: #fff;
        a{
            text-decoration: none;
            color: #3642c7;
        }
    }
}